Language: Cpp

# base style
BasedOnStyle: Google

# indent
IndentWidth: 2
TabWidth: 2
UseTab: Never

# header/using sort
SortIncludes: CaseInsensitive
SortUsingDeclarations: true

# for more options, type ctrl + space to bring up the auto-completion list
